/*all pages styling*/

body {
	background-color: #1e1e24;
	padding:10px;
}

.content{
	border: solid 10px #92140C;
	background-color: #fff8f0;
	height: auto;
	width:auto;
	padding-top: 60px;
	font-size: 24px;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	text-align: center;

}

h2{
	font-family: 'Crimson Text', serif;
	text-align: center;
}

p{
	font-family: 'Crimson Text', serif;

}

h1.logo.homepage{
	margin-bottom:0px;
	margin-top: 30px;
}

h2.logo.homepage{
	margin-top: 10px
}

.button.homepage{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
}

.row.buttons{
	margin:0 auto;
	float:right;
}

.description{
	float:right;
	 text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.dTwenty{
	width:100%;
}

.newCharacter{
	
	font-family: 'Crimson Text', serif;

}

.row.create-new-character-form{
	column-count: 2;
	column-gap: 0px;
	

}

.create-character-page-button{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
}

.update-character-page-button{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
}

.content.create-character-page{
	height:auto;
}

footer{
	background-color: #fff8f0
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 24px;
	text-align: center;
	margin-bottom: 0px;

}

h4{
	margin-top: 0px;
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 18px
}

.character-names{
	column-count: 2;
}

.update-character{
	column-count: 2;
}

h6{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 24px;
	text-align: center;
}

h5{
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 18px
}

.character-name{
	border:solid 10px #430a06;
	margin-top: 0px;
	margin-bottom:20px;
	background-color: #eaeaeb
}

.button.charListPage{
	position:relative;
	margin-left:37.5%;
	margin-bottom:20px;
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	width:25%;
}

.row.col-12.button-row{
	margin-left: 11%
}

.button.update-character-page-button{
	position:relative;
	width:25%;
	margin-bottom:20px;
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
}