/*all pages styling*/

body {
	border: solid 10px #92140C;
	background-color: #1e1e24;
	padding:10px;
}

.content{
	background-color: #fff8f0;
	height: 100%;
	width:auto;
	padding-top: 60px;
	font-size: 24px;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	text-align: center;

}

h2{
	font-family: 'Crimson Text', serif;
	text-align: center;
}

p{
	font-family: 'Crimson Text', serif;

}

h1.logo.homepage{
	margin-bottom:0px;
	margin-top: 30px;
}

h2.logo.homepage{
	margin-top: 10px
}

.button.homepage{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
}

.row.buttons{
	margin:0 auto;
	float:right;
}

.description{
	float:right;
	 text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.dTwenty{
	width:100%;