/*all pages styling*/

body {
	background-color: #1e1e24;
	padding:10px;
}

button:hover{
	background-color: #dee5da;
	cursor:crosshair;
}

.content{
	border: solid 10px #92140C;
	background-color: #fff8f0;
	height: auto;
	width:auto;
	padding-top: 60px;
	font-size: 24px;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	text-align: center;

}

h2{
	font-family: 'Crimson Text', serif;
	text-align: center;
}

p{
	font-family: 'Crimson Text', serif;

}

h1.logo.homepage{
	margin-bottom:0px;
	margin-top: 30px;
}

h2.logo.homepage{
	margin-top: 10px
}

.button.homepage{
	font-weight: bold;
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
	font-size: 65%;
}

.row.buttons{
	font-weight:bold;
	margin:0 auto;
	float:right;
	
}

.description{
	float:right;
	 text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.dTwenty{
	width:100%;
}

input{
	width:100%;
}

.newCharacter{
	
	font-family: 'Crimson Text', serif;
	text-align: center;
	margin-left: 20px,
	margin-right:20px;

}

.newCharacter.col-6.partOne{
	float:right;
	margin-left: 20px,
	margin-right:20px;
}

.newCharacter.col-6.partTwo{
	margin-left: 20px,
	margin-right:20px;
}

.create-character-page-button{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
	font-weight: bold;
	font-size: 65%
}

.update-character-page-button{
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	margin:5px;
	font-weight: bold;
	font-size: 65%
}

.content.create-character-page{
	height:auto;
}

footer{
	background-color: #fff8f0
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 24px;
	text-align: center;
	margin-bottom: 0px;

}

h4{
	margin-top: 0px;
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 18px
}



h6{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 24px;
	text-align: center;
}

h5{
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 18px
}

.character-name{
	border:solid 10px #430a06;
	margin-top: 0px;
	margin-bottom:20px;
	background-color: #eaeaeb;
	margin-right:20px;
}

.character-name:hover{
	background-color: #dee5da;
	cursor:crosshair;
}

.button.charListPage{
	position:relative;
	margin-left:37.5%;
	margin-bottom:20px;
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	width:25%;
	font-weight: bold;
	font-size: 65%
}

.row.col-12.button-row{
	margin-left: 11%
}

.button.update-character-page-button{
	position:relative;
	width:25%;
	margin-bottom:20px;
	text-align:center;
	font-family: 'Julius Sans One', sans-serif;
	height:30px;
	font-weight: bold;
	font-size: 65%
}